<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Just API</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
</head>

<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>404</h1>
                <h4>Page not found</h4>
            </div>
            <a href="http://google.com">GO TO GOOGLE.COM</a>
        </div>
    </div>

</body>

</html>